.container {
    width: 100%;
  }
  
.casesWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 30px;
}


  .alignLeft {
  justify-content: flex-start;
  gap: 25px;
}
  
  .footer {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #666;
  }
  
  .caseBox {
    width: 24%;
    aspect-Ratio: 1 / 1;
    cursor: pointer;
    /* outline: 1px solid red; */
  }
  
  @media (max-width: 768px) {

    .container {
        width: 100%;
      }
      
      .casesWrapper {
        width: 100%;
        padding: 10px 10px;
        gap: 10px;
        
      }
      
      .footer {
        text-align: center;
        padding-top: 32px;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 32px;
        color: #fff;
      }
      
      .caseBox {
        width: 100%;
      }

  }
