.container {
    width: 100%;
  }
  
  .casesWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 30px;
    /* gap: 25px 0; */
    /* outline: 1px solid red; */
    justify-content: space-between;
    padding: 32px 0;
  }
  
  .footer {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #666;
  }
  
  .caseBox {
    cursor: pointer;
  }
  