.modalRoot {
  height: 100vh;
  color: #fff;
  position: relative;
}

.closeButton {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 500;
  width: 35px;
  height: 35px;
  top: 16px;
  right: 36px;
  color: #fff;
  z-index: 10;
  background-color: #535353;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
  padding-bottom: 0;
}

.topRow {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 500;
  font-size: 26px;
}

.categories {
  color: #f40087;
  font-weight: 500;
  margin-top: 8px;
}

.devButton {
  color: #fff;
  text-transform: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
}

.devAvatars {
  display: flex;
  align-items: center;
}

.popoverList {
  width: 300px;
  background-color: #fff;
  color: #000;
}

.popoverList1 {
  width: 300px;
  color: #fff !important;
  color: #000;
}

.devRole {
  color: #f40087;
}

.imagesWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-top: 24px;
}

.imageBox {
  background-color: #fff;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.messengerBlockTop {
  position: fixed;
  right: 36px;
  top: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 4;
}

.messengerBlock {
  position: absolute;
  right: -65px;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.messengerBlockMobile {
  display: none;
}

.popoverListMobile {
  display: none;
}


@media (max-width: 768px) {

    .modalRoot {
        height: 100vh;
        color: #fff;
        position: relative;
      }
      
      .closeButton {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 500;
        width: 35px;
        height: 35px;
        top: 16px;
        right: 36px;
        color: #fff;
        z-index: 10;
        background-color: #535353;
      }
      
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 32px;
        padding-bottom: 0;
      }
      
      .topRow {
        display: none;
        justify-content: space-between;
      }
      
      .title {
        font-weight: 500;
        font-size: 26px;
      }
      
      .categories {
        color: #f40087;
        font-weight: 500;
        margin-top: 8px;
      }
      
      .devButton {
        color: #fff;
        text-transform: none;
        display: none;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        background: none;
        border: none;
        cursor: pointer;
      }
      
      .devAvatars {
        display: none;
      }
      
      .popoverList {
        display: none;
        width: 300px;
        background-color: #fff;
        color: #000;
      }
      
      .popoverList1 {
        width: 300px;
        color: #fff !important;
        color: #000;
      }
      
      .devRole {
        color: #f40087;
      }
      
      .imagesWrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin-top: 24px;
      }
      
      .imageBox {
        background-color: #fff;
      }
      
      .image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .messengerBlockTop {
        position: fixed;
        right: 36px;
        top: 80px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        z-index: 4;
      }
      
      .messengerBlock {
        position: absolute;
        right: -65px;
        top: 0;
        display: none;
        flex-direction: column;
        gap: 8px;
      }
      
      .messengerBlockMobile {
        display: none;
      }
      
      .popoverListMobile {
        display: none;
      }


      .messengerBlockTop {
        display: none;
      }
      
      .popoverList1 {
        display: none;
      }
    
}